:root {
    --branding-color: #6C63FF;
    --secondary-color: #F9F7FE;
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "Poppins", serif;
}

body {
    font-family: var(--default-font-family);
}

footer .contact-box {
    background: var(--secondary-color);
    padding: 30px;
    border-radius: 10px;

}

footer .contact-box p {
    margin: 0;
}

footer .email-link {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
}

footer .email-link:hover {
    color: var(--branding-color);
}

footer .social-link a {
    margin: 0 20px;
    color: var(--branding-color);
    background: var(--secondary-color);
    padding: 10px 14px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 150ms ease-in-out;
    
}

footer .social-link a:hover {
    color: white;
    baackground: var(--branding-color);
}

h1, h2, h3, h4, h5, h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

h2 {
    font-size: 64px;
}

h4 {
    font-size: 48px;
}

p {
    font-weight: normal;
    font-size: 16px; 
    line-height: 30px;
    font-family: var(--default-font-family);
}

.about-link {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.content-container {
    padding: 0;
    text-align: center;
}

.content-container h1 {
    font-size: 54px;
    line-height: 80px;
}

.content {
    margin: 30px;
}

.content h3 {
    margin: 20px 0 0;
}

.content-container a {
    text-decoration: none;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px; 
}

.btn-branding-outline {
    color: var(--branding-color);
    border: 1px solid var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}

.hero {
    background: var(--secondary-color); 
    text-align: center;
    padding: 160px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.project-description {
    padding: 120px 60px;
}

.responsive {
  max-width: 100%;
  border-radius: 20px;
  height: auto;
  display: block;
  margin: 30px auto;
}

@media (max-width: 900px) {
    h1 {
        font-size: 44px;
        line-height: 56px;
    }
    h2 {
        font-size: 44px;
    }
    .hero {
        padding: 80px 20px;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
}